<h1> Home </h1> 

<% if user_signed_in? %>
  Login Success!<a href="/sign_out">Sign Out</a>
<% else %>
 <a href="/sign_in">Please Log In</a>
<% end %>


<p> your lucky number: <%= [1,4,5,33,99].sample %></p>